/*Desktop-Ansicht*/
@media screen and (min-width:800px){
  body {
    margin: 0;
    font-family:'Open Sans Condensed', sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    width: 66%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.0);
  }
  
  .topnav a {
    float: middle;
    color: rgb(85, 79, 69);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(85, 79, 69);
  }
  
  .topnav a.active {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(85, 79, 69);
  }

  .side-menu {
    display: none;
} /* Hide checkbox */

.handy{
    display: none;
}
}





/*Handy-Ansicht*/
@media screen and (max-width:799px) {
  

:root{
    --white: #f9f9f9;
    --black: #36383F;
    --gray: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(201, 232, 181, 0.87);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Header */
.header{
    background-color: rgba(201, 232, 181, 0.87);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 40px;
    
    
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(132, 176, 100, 1);
    overflow: hidden;

}
.menu a{
    display: block;
    padding: 30px;
    color: rgb(85, 79, 69);
}
.menu a:hover{
    background-color: var(--gray);
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: left;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: rgb(85, 79, 69);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: rgb(85, 79, 69);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

.hide{
    display: none;
}

.desktop{
    display: none;
}

.handy{
    width: 100%;
}




  
}
