body {
    margin: 0;
    font-family:'Open Sans Condensed', sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    width: 66%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.0);
  }
  
  .topnav a {
    float: middle;
    color: rgb(85, 79, 69);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(85, 79, 69);
  }
  
  .topnav a.active {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(85, 79, 69);
  }